node_modules
stats
dist
local.js

# serverless frameworkで生成されるファイル
functions/crawler/.serverless
functions/crawler/.webpack
functions/exporter/env.yml
functions/exporter/.serverless
functions/exporter/.webpack
functions/webhook/.serverless
functions/webhook/.webpack
functions/webhook/env.dev.yml
functions/webhook/env.prod.yml
functions/bot/env.dev.yml
functions/bot/env.prod.yml
functions/bot/.serverless
functions/bot/.webpack
